* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    text-align: center;
    font-family: "Madimi One", sans-serif;
}

h1 {
    font-size: 8vmin;
    color: white;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #FBFF12;
    background-color: #41EAD4;
}

#restart-btn {
    padding: 1rem;
    font-size: 1.2rem;
    font-family: "Madimi One", sans-serif;
    background-color: #FF206E;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    color: white;
}

.win-msg {
    margin-top: 40px;
    color: #FBFF12;
    font-size: 3vmin;
}

.hide {
    display: none;
}